@media (max-width: 1440px){
    .logo {
        img{
            width: 100px;
        }
    }
    .header__title{
        font-size: 130px;
        line-height: 108px;
        top: 20px;
        left: 60px;
    }
    .menu {
        padding-top: 10px;
    }
    .header__date {
        padding-top: 10px;
        margin-bottom: 10px;
        font-size: 60px;
        span{
            font-size: 14px;
            padding-top: 10px;
        }
    }
    .header__arrow {
        left: 130px;
        bottom: 40px;
    }
}
@media (max-width: 1366px){
    .header__aside{
        position: absolute;
        height: 108px;
        padding-right: 25px;
        background: rgba(#fff, 0.2);
        border-right: none;  
        display: flex;
        text-align: left;
    }
    .header__arrow{
        left: 20px;
        bottom: 20px;
    }
    .slider-dotshead{
        bottom: 20px;
    }
    .menu{
        padding-top: 0;
    }
    .menu__list{
        text-align: center;
        li{
            display: inline-block;
        }
        a{
            padding: 15px;
        }
    }
    .header__search{
        padding: 33px 15px 15px;
    }
    .header__date{
        padding: 15px;
        span{
            padding-top: 0;
        }
    }
    .header__location{
        margin-top: 42px;
    }
    .slider-item__info-title{
        font-size: 65px;

    }
    .header__map{
        svg{
            width: 500px;
            height: 250px;
        }
    }
}
@media (max-width: 1340px){
    .slider-arrows{
        top: 20px;
        right: 20px;
    }
    .slider-arrows__left{
        right: 65px;
    }
}
@media (max-width: 1040px){
    .header__arrow{
        display: none;
    }
    .menu{
        background-color: #000;
        z-index: 22;
        position: absolute;
        top: 0;
        left: 0;
        transform: translateX(-100%);
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 16px;
        transition: all .3s;
        &.active{
            transform: translateX(0);
        }
    }
    .menu-btn{
        display: flex;
    }
    .header__search{
        padding: 40px 15px 15px;
    }
    .slider-item__info {
        position: absolute;
        right: 20px;
        bottom: 17px;
        text-align: right;
    }
    .slider-item__info-text{
        font-size: 30px;
        line-height: 20px;
        margin-bottom: 15px;
    }
    .headline-left {
        font-size: 16px;
        line-height: 18px;
        padding-left: 65px;
    }
    .headline-left::before {
        width: 50px;
    }
    .slider-item__info-title {
        font-size: 50px;
        line-height: 55px;
        margin-bottom: 20px;
    }
    .slider-dotshead {
        right: 0;
        left: 10px;
        margin: 0 auto;
        bottom: 5px;
    }
    .dots-box{
        width: 125px;
    }
    .dots-box__number{
        font-size: 18px;
    }
    .dots-box__name{
        line-height: 18px;
    }
}
@media (max-width: 960px){
    .slider-dotshead{
        display: none;
    }
}
@media (max-width: 460px){
    .header__aside{
        display: block;
        text-align: center;
        padding-right: 0;
        height: 100vh;
    }
    .header__search{
        padding: 15px 0px 5px;
    }
    .header__date{
        padding: 0;
        font-size: 50px;
        line-height: 45px;
        span{
            font-size: 12px;
        }
    }
    .header__location {
        margin-top: 0;
    }
    .header__title{
        display: none;
    }
}