@import "vars";
@import "libs";
@import "fonts";
@import "global";


.header{
    position: relative;
    height: 100vh;
    &__map{
        position: absolute;
        right: 0;
        top: 0;
        z-index: 3;
    }
    &__slider{
        &-item{
            height: 100vh;
            background-image: url(../images/header-bg.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            position: relative;
        }
    }
    &__title{
        font-weight: 800;
        font-size: 200px;
        line-height: 156px;
        opacity: 0.07;
        max-width: 467px; 
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
    }

    &__aside{
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3;
        border-right: 1px solid rgba(255,255,255, .25);
        height: 100vh;
        text-align: center;
    }
    &__date{
        padding-top: 20px;
        font-weight: 800;
        font-size: 72px;
        line-height: 64px;
        margin-bottom: 20px;
        span{
            padding-top: 15px;
            font-weight: 300;
            font-size: 16px;
            line-height: 19px;
            text-align: center;
            letter-spacing: 1.4px;
            display: block;
        }
    }
    &__location{
        display: inline-block;
        font-weight: 300;
        font-size: 12px;
        line-height: 14px; 
        letter-spacing: 1.05px;
        padding-left: 20px;
        position: relative;
        text-transform: capitalize;
        &::before{
            content: '';
            position: absolute;
            background-image: url(../images/marker.svg);
            left: 0;
            top: 0;
            width: 11px;
            height: 13px;
        }
    }
    &__arrow{
        position: absolute;
        left: 210px;
        bottom: 40px;
        z-index: 3;
    }
}
.menu{
    padding-top: 40px;
    a{
        span{
            display: block;
            font-weight: 500;
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 3px;
            padding-top: 6px;
            margin-bottom: 20px;
            text-transform: capitalize;
        }
    }
}        



.slider-item{
    &__info{
        position: absolute;
        right: 80px;
        bottom: 116px;
        text-align: right;
        &-title{
            font-weight: 800;
            font-size: 80px;
            line-height: 86px;
            margin-bottom: 48px;
        }
        &-suptitle{
            margin-bottom: 5px;
        }
        &-suptext{
            margin-bottom: 8px;
        }
        &-text{
            font-weight: 800;
            font-size: 40px;
            line-height: 46px;
            margin-bottom: 20px;
        }
    }
}

.slider-arrows{
    position: absolute;
    top: 40px;
    right: 80px;
    cursor: pointer;
    z-index: 4;
    &__left{
        right: 125px;        
    }
}

.slider-dotshead{
    position: absolute;
    right: 50px;
    bottom: 36px;
    max-width: 920px;
    width: 100%;
    .slick-current{
        .dots-box{
            border-top-color: $green;
        }
    }
}
.dots-box{
    width: 200px;
    display: flex;
    justify-content: space-between;
    height: 28px;
    padding-top: 6px;
    align-items: center;
    border-top: 4px solid #fff;
    &__number{
        font-weight: 800;
        font-size: 24px;
        line-height: 34px;
    }
    &__name{
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        text-transform: capitalize;
    }
}
.line-animation{
    stroke-dashoffset: 600;
    stroke-dasharray: 600;
    animation: l-anim 5s infinite 6s;
}

@keyframes l-anim{
    to{
        stroke-dashoffset: 0;
    }
}


.surf{
    background-image: url(../images/surf-bg.svg);
    background-position: right 200px;
    background-repeat: no-repeat;
    background-size: auto;
    padding: 160px 0px 120px;
    &__subtitle{
        text-align: right;
        padding-right: 80px;
        margin-top: -86px;
    }
    &-box{
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        
        &__inner{
           min-height: 750px; 
           background: rgba(#1C2121, .85);
           position: relative;
           transition: all .3s;
           &:hover{
                background: rgba(#1C2121, .3);
                .surf-box__inner-btn{
                    display: block;
                }
           }
           &-title{
               font-size: 40px;
               line-height: 36px;
               font-weight: 800;
               padding: 72px 0 0 40px;
               width: 140px;
           }
           &-location{
               font-size: 18px;
               line-height: 22px;
               letter-spacing: 8px;
               transform: rotate(-90deg);
               position: absolute;
               left: 40px;
               bottom: 80px;
               width: 0;
               height: 0;
               white-space: nowrap;
               span{
                   font-weight: 100;
               }
           }
           &-btn{
               display: none;
                position: absolute;
                text-align: center;
                bottom: 0px;
                left: 0;
                right: 0;
           }
        }
    }
    &__slider{
        padding-top: 110px;
        .slider-arrows{
            top: 50px;
            opacity: .25;
        }
        .slick-slide:nth-child(4n+1){
            .surf-box{
                margin-top: 32px;
            }
        }
        .slick-slide:nth-child(4n+3){
            .surf-box{
                margin-top: 89px;
            }
        }
        .slick-current{
            .surf-box__inner-btn{
                display: block;
            }
            .surf-box__inner{
                background: rgba(#1C2121, .3);
            }
        }
    }
}


.slider-map{
    max-width: 1200px;
    min-height: 635px;
    background-image: url(../images/world-map-dots.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
}
.slider-dots{}
    &__circle{

    }
    .content{
        display: none;
    }
}

@import "media";
